<div class="d-flex">
	<button
		class="btn shadow-sm btn-sm get-qr"
		data-bs-toggle="modal"
		data-bs-target="#frameqrcode"
	><box-icon name="qr"></box-icon> QR Code</button>
</div>
<div id="app">

</div>

<!-- Modal -->
<div
	class="modal fade"
	id="frameqrcode"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Scan QR Code</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<img id="qrcode" src="" alt="qrcode" />
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>Close</button>
			</div>
		</div>
	</div>
</div>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
	crossorigin="anonymous"
></script>
<script src="/js/chat.js" crossorigin="anonymous"></script>